/* Reset default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Basic styling */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  header, nav, section, footer {
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
  }
  
  header h1 {
    font-size: 24px;
  }
  
  nav {
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  nav ul li a:hover {
    background-color: #ddd;
  }
  
  #contentp {
    /* background-color: #caeb7c; */
    background: url(images/486539-PH7BQV-226.jpg);
    border: 1px solid #ddd;
    margin: 20px;
    margin-left: 300px;
    padding: 30px;
    width: 55%;
    align-content: center;
    
  }
  #contentt {
    /* background-color: #caeb7c; */
    background: url(images/486539-PH7BQV-226.jpg);
    border: 1px solid #ddd;
    margin: 20px;
    margin-left: 300px;
    padding: 30px;
    width: 55%;
    align-content: center;
    
  }
  #contentr {
    /* background-color: #caeb7c; */
    background: url(images/486539-PH7BQV-226.jpg);
    border: 1px solid #ddd;
    margin: 20px;
    margin-left: 300px;
    padding: 30px;
    width: 55%;
    align-content: center;
    
  }
  #contenth {
    /* background-color: #caeb7c; */
    background: url(images/19963.jpg);
    border: 1px solid #ddd;
    margin: 20px;
    margin-left: 300px;
    padding: 30px;
    width: 55%;
    align-content: center;
    
  }
  #contents {
    /* background-color: #caeb7c; */
    background: url(images/19963.jpg) 300px;
    border: 1px solid #ddd;
    display: flex;
    align-content: center;
    padding: 20px;
    width: 50%;
    margin-left: 300px;
    justify-content: center;    
  }
  .teams{
    display: flex;
  }
  .b{
   
    align-items: center;
  }
  .imgs{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
  }
 

  .cent{
    display:block;
    align-items: center;
  }
  

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
  }
  